<% include partials/header %>
<h1>
    <%= location_name %>
</h1>
<% if (Number(result.DailyForecasts[0].Day.Icon) >= 1 && Number(result.DailyForecasts[0].Day.Icon) <=5) { %>
  <% if (random_playlist === 1) { %>
     <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify_france:playlist:3fo3sq7WExOXk1St5ajqya" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotifyaustralia:playlist:4Yczh8EPzyJ38WgSiL2tYX" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify_denmark:playlist:0z8XqK0Mo9oop6C67PDiNO" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:6NCfeirBIrZfYcs9kwnS3x" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 6 && Number(result.DailyForecasts[0].Day.Icon) <=11) { %>
<h2>Cloudy Playlist</h2>
<% if (random_playlist === 1) { %>
     <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7MPXsjQGsXcLdNz7UxVuVl" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:1ygSzMVCN3cXEAbEMVdtm8" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 3) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:66oi6TpdQHk3kS7ZHOx8gX" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:sonymusicentertainment:playlist:3oRNodhtGLVnZl0Q32FJHB" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 12 && Number(result.DailyForecasts[0].Day.Icon) <=18) { %>
<h2>Rainy Playlist</h2>
<% if (random_playlist === 1) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7MPXsjQGsXcLdNz7UxVuVl" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3Jlo5JoAA9pMUQfhLaLG5u" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify_denmark:playlist:0z8XqK0Mo9oop6C67PDiNO" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:1ygSzMVCN3cXEAbEMVdtm8" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 19 && Number(result.DailyForecasts[0].Day.Icon) <=25) { %>
<h2>Snowy Playlist</h2>
<% if (random_playlist === 1) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:universal.fm:playlist:7iMyUkmPe7epyb8J1mqT9y" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:user:playlistmecanada:playlist:34YFb2iLoZak9zCWS2JT5I" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:1258943106:playlist:3J4VjgbebrLO1oMGOkhY8J" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:6HGSpo0k6PHdXBb4ayyya2" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 26 && Number(result.DailyForecasts[0].Day.Icon) <=29) { %>
<h2>Downpour Playlist</h2>
<% if (random_playlist === 1) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:7CQunpJEHecknIyABfS8pP" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:user:calist0:playlist:4Ik76Vbsj0iX0GFaBSdOpH" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:1121683318:playlist:2DRTCG2thIaquAqByzRIka" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:user:eden.mcmxcv:playlist:4ifXQgdnknl15Ry98ibCga" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) == 30 ){ %>
<h2>Hot Playlist</h2>
<% if (random_playlist === 1) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:user:nibsquib:playlist:5xImmD4gLnVllSwOAnuLm6" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:user:11136351958:playlist:3IWmcdkxV1LLdjjknr8I9Z" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify_uk_:playlist:6FfOZSAN3N6u7v81uS7mxZ" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:track:1y4eb6hmAvsqlDOl3fx9kk" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) == 31 ){ %>
<h2>Cold Playlist</h2>
<% if (random_playlist === 1) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:track:7zsXy7vlHdItvUSH8EwQss" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:track:4THoSHxiabL1rd59iVWu2T" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:bringm01:playlist:3IWb3aghB6gylTNF5sCUjl" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:user:itsnyarichards:playlist:07tFsf49gsnOGhG9dnkXNx" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 32 && Number(result.DailyForecasts[0].Day.Icon) <=38) { %>
<h2>Night Cloudy Playlist</h2>
<% if (random_playlist === 1) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:track:31t0ATifZW5CW3XP2QUsUW" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:track:60xaS8mYBKUW4VQQ666N0T" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3ewAapAmERO3sW4cp89xk9" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
<iframe src="https://embed.spotify.com/?uri=spotify:album:6htgf3qv7vGcsdxLCDxKp8" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 39 && Number(result.DailyForecasts[0].Day.Icon) <=44) { %>
<h2>Night Thunder Playlist</h2>
<% if (random_playlist === 1) { %>
   <iframe src="https://embed.spotify.com/?uri=spotify:track:57bgtoPSgt236HzfBOd8kj" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 2) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3ewAapAmERO3sW4cp89xk9" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
   <% } else if(random_playlist === 3) { %>
       <iframe src="https://embed.spotify.com/?uri=spotify:track:31t0ATifZW5CW3XP2QUsUW" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <% } else if(random_playlist === 4) { %>
 <iframe src="https://embed.spotify.com/?uri=spotify:track:60xaS8mYBKUW4VQQ666N0T" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  <%  } %>
<% } %>
<% include partials/footer %>
