<% include partials/header %>
<h1>
    <%= location_name %>
</h1>
<% if (Number(result.DailyForecasts[0].Day.Icon) >= 1 && Number(result.DailyForecasts[0].Day.Icon) <=5) { %>
  <% if (random_playlist === 1) { %>
    1
  <% } else if(random_playlist === 2) { %>
    2
  <% } else if(random_playlist === 3) { %>
    3
  <% } else if(random_playlist === 4) { %>
    4
  <%  } %>
<h2>Sunny Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 6 && Number(result.DailyForecasts[0].Day.Icon) <=11) { %>
<h2>Cloudy Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 12 && Number(result.DailyForecasts[0].Day.Icon) <=18) { %>
<h2>Rainy Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 19 && Number(result.DailyForecasts[0].Day.Icon) <=25) { %>
<h2>Snowy Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 26 && Number(result.DailyForecasts[0].Day.Icon) <=29) { %>
<h2>Downpour Playlis</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) == 30 ){ %>
<h2>Hot Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) == 31 ){ %>
<h2>Cold Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 32 && Number(result.DailyForecasts[0].Day.Icon) <=38) { %>
<h2>Night Cloudy Playlist</h2>
<% } else if (Number(result.DailyForecasts[0].Day.Icon) >= 39 && Number(result.DailyForecasts[0].Day.Icon) <=44) { %>
<h2>Night Thunder Playlist</h2>
<% } %>
<% include partials/footer %>
